[submodule "hx2car-service"]
	path = hx2car-service
	url = git@10.90.60.209:web/hx2car-service.git
[submodule "hx2car-api"]
	path = hx2car-api
	url = git@10.90.60.209:web/hx2car-api.git
[submodule "hx2car-core"]
	path = hx2car-core
	url = git@10.90.60.209:web/hx-core.git
[submodule "hx2car-common"]
	path = hx2car-common
	url = git@10.90.60.209:web/hx-common.git
[submodule "hx2car-scheduler"]
	path = hx2car-scheduler
	url = git@10.90.60.209:web/scheduler-service.git
[submodule "hx2car-cache"]
	path = hx2car-cache
	url = git@10.90.60.209:web/hx2car-cache.git
[submodule "hx2car-starter"]
	path = hx2car-starter
	url = git@10.90.60.209:web/hx2car-starter.git
[submodule "hx2car-pay"]
	path = hx2car-pay
	url = git@10.90.60.209:web/hx2car-pay.git
