[submodule "vehicle-service"]
	path = vehicle-service
	url = git@10.90.60.209:web/vehicle-service
[submodule "saleCars-service"]
	path = saleCars-service
	url = git@10.90.60.209:web/saleCars-service.git
[submodule "buyCars-service"]
	path = buyCars-service
	url = git@10.90.60.209:web/buyCars-service.git
